# 依赖目录
/node_modules
/.pnp
.pnp.js

# 测试覆盖率
/coverage

# Next.js构建输出
/.next/
/out/

# 生产环境构建
/build

# 其他
.DS_Store
*.pem

# 调试
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 本地环境文件
.env*.local
.env

# vercel
.vercel

# PWA文件
**/public/workbox-*.js
**/public/sw.js
**/public/sw.js.map
**/public/worker-*.js

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE配置
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 临时文件
.temp
.tmp
.cache

# 日志文件
logs
*.log